<header th:fragment="index_top">
    <div class="header">
        <div class="margin">
            <div class="header-logo">
                <img src="/static/yiyuan/Logo.png" alt="">
            </div>
            <ul class="header-nav">
                <li><a href="/article/aboutus" title="home">home</a></li>
                <li><a title="About Us" >About Us</a>
                    <ul class="headerTo">
                        <li><a href="/article/hospitalProfile" title="hospital profile">hospital profile</a></li>
                        <li><a href="/president" title="president's profile">president's</a></li>
                    </ul>
                </li>
                <li><a href="/article/research" title="research">research</a></li>
                <li><a href="/contact" title="contact us">contact us</a></li>
            </ul>
            <div class="switch">
                <span>中文</span>/
                <span>EN</span>
            </div>
            <div class="headerIcon">
                <span class="layui-icon" style="color:#fff;">&#xe66b;</span>
            </div>
            <div class="headerPosition">
                <div class="header">
                    <span style="margin-left: 10px;">MENU</span>
                    <span class="layui-icon" style="color:#ffffff;margin-right: 10px;">&#xe66b;</span>
                </div>
                <ul class="positionUl">
                    <li><a href="/article/aboutus" title="home">home</a></li>
                    <li><a href="/article/hospitalProfile" title="hospital profile">hospital profile</a></li>
                    <li><a href="/president" title="president's profile">president's</a></li>
                    <li><a href="/article/research" title="research">research</a></li>
                    <li><a href="/contact" title="contact us">contact us</a></li>
                </ul>
            </div>
        </div>
    </div>

</header>