<!DOCTYPE html>
<div th:replace="themes/yiyuan/header::header('首页',null)"></div>

<link rel="stylesheet" href="/static/yiyuan/layui/css/layui.css">
<link rel="stylesheet" href="/static/yiyuan/css/president.css">
</head>
<body>
<div class="president">
    <!--头部-->
    <div th:include="themes/yiyuan/top::top"></div>
<!--主题内容-->
<main>
    <div class="margin">
        <div class="presidentTitle">现任领导</div>
        <div class="presidentList"></div>
        <div class="page">
            <div id="test1"></div>
        </div>
    </div>
</main>
<div th:include="themes/yiyuan/footer::footer"></div>
</div>

<script>
    /*导入头部和尾部*/
    $(document).ready(function(){
        $('.patientContent li').mousemove(function(){
            $(this).find(".patientContentpostion").show();
            $(this).siblings().find('.patientContentpostion').hide();
        })
        $('.hospitalRight li').mousemove(function() {
            $(this).find('.hospitalPosition').show();
            $(this).siblings().find('.hospitalPosition').hide();
        })

        var presidentList = [
            {
                'id': '0',
                'presidentImg' : "/static/yiyuan/picture/s6d00r9aT2mu8G5TVy5eJA.jpg_560xa.jpg",
                'presidentName': "朱同玉 中心主任",
                'presidentContent': "男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师现任上海市公共卫生临床中心主任，兼任上海申康医院发展中心副主任，复旦大学附属中山医院副院长，上海市器官移植重点实验室主任，上海市政协常委，民盟上海市委副主委，复旦大学附属中山医院泌尿外科教授，器官移植国家重点建设临床专科负责人。入选上海市卫生系统“新百人计划”、 “上海市优秀学术带头人”和“上海市领军人才”",
                'presidentButton': "查看详情"
            },
            {
                'id': '1',
                'presidentImg' : "/static/yiyuan/picture/s6d00r9aT2mu8G5TVy5eJA.jpg_560xa.jpg",
                'presidentName': "朱同玉 中心主任",
                'presidentContent': "男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师现任上海市公共卫生临床中心主任，兼任上海申康医院发展中心副主任，复旦大学附属中山医院副院长，上海市器官移植重点实验室主任，上海市政协常委，民盟上海市委副主委，复旦大学附属中山医院泌尿外科教授，器官移植国家重点建设临床专科负责人。入选上海市卫生系统“新百人计划”、 “上海市优秀学术带头人”和“上海市领军人才”",
                'presidentButton': "查看详情"
            },
            {
                'id': '2',
                'presidentImg' : "/static/yiyuan/picture/s6d00r9aT2mu8G5TVy5eJA.jpg_560xa.jpg",
                'presidentName': "朱同玉 中心主任",
                'presidentContent': "男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师现任上海市公共卫生临床中心主任，兼任上海申康医院发展中心副主任，复旦大学附属中山医院副院长，上海市器官移植重点实验室主任，上海市政协常委，民盟上海市委副主委，复旦大学附属中山医院泌尿外科教授，器官移植国家重点建设临床专科负责人。入选上海市卫生系统“新百人计划”、 “上海市优秀学术带头人”和“上海市领军人才”",
                'presidentButton': "查看详情"
            },
            {
                'id': '3',
                'presidentImg' : "/static/yiyuan/picture/s6d00r9aT2mu8G5TVy5eJA.jpg_560xa.jpg",
                'presidentName': "朱同玉 中心主任",
                'presidentContent': "男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师现任上海市公共卫生临床中心主任，兼任上海申康医院发展中心副主任，复旦大学附属中山医院副院长，上海市器官移植重点实验室主任，上海市政协常委，民盟上海市委副主委，复旦大学附属中山医院泌尿外科教授，器官移植国家重点建设临床专科负责人。入选上海市卫生系统“新百人计划”、 “上海市优秀学术带头人”和“上海市领军人才”",
                'presidentButton': "查看详情"
            }
        ];
        var detailsContent = [
            {
                'id': '0',
                'contentName': '朱同玉 中心主任',
                'detailsTime':'2018/01/02',
                'presidentImg' : "/static/yiyuan/picture/s6d00r9aT2mu8G5TVy5eJA.jpg_560xa.jpg",
                'charsctersContent': '男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。',
                'Abstract':'【摘要】：男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 现任上海市公共卫生临床中心主任，兼任上海申康医院发展中心副主任，复旦大学附属中山医院副院长，上海市器官移植重点实验室主任，上海市政协常委，民盟上海市委副主委，复旦大学附属中山医院泌尿外科教授，器官移植国家重点建设临床专科负责人。入选上海市卫生系统“新百人计划”、 “上海市优秀学术带头人”和“上海市领军人才”。'
            },
            {
                'id': '1',
                'contentName': '朱同玉 中心主任',
                'detailsTime':'2018/01/02',
                'presidentImg' : "/static/yiyuan/picture/s6d00r9aT2mu8G5TVy5eJA.jpg_560xa.jpg",
                'charsctersContent': '男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。',
                'Abstract':'【摘要】：男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 现任上海市公共卫生临床中心主任，兼任上海申康医院发展中心副主任，复旦大学附属中山医院副院长，上海市器官移植重点实验室主任，上海市政协常委，民盟上海市委副主委，复旦大学附属中山医院泌尿外科教授，器官移植国家重点建设临床专科负责人。入选上海市卫生系统“新百人计划”、 “上海市优秀学术带头人”和“上海市领军人才”。'
            },
            {
                'id': '2',
                'contentName': '朱同玉 中心主任',
                'detailsTime':'2018/01/02',
                'presidentImg' : "/static/yiyuan/picture/s6d00r9aT2mu8G5TVy5eJA.jpg_560xa.jpg",
                'charsctersContent': '男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。',
                'Abstract':'【摘要】：男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 现任上海市公共卫生临床中心主任，兼任上海申康医院发展中心副主任，复旦大学附属中山医院副院长，上海市器官移植重点实验室主任，上海市政协常委，民盟上海市委副主委，复旦大学附属中山医院泌尿外科教授，器官移植国家重点建设临床专科负责人。入选上海市卫生系统“新百人计划”、 “上海市优秀学术带头人”和“上海市领军人才”。'
            },
            {
                'id': '3',
                'contentName': '朱同玉 中心主任',
                'detailsTime':'2018/01/02',
                'presidentImg' : "/static/yiyuan/picture/s6d00r9aT2mu8G5TVy5eJA.jpg_560xa.jpg",
                'charsctersContent': '男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。',
                'Abstract':'【摘要】：男，医学博士，公共管理硕士，1966年出生，主任医师，教授，博士生导师。 现任上海市公共卫生临床中心主任，兼任上海申康医院发展中心副主任，复旦大学附属中山医院副院长，上海市器官移植重点实验室主任，上海市政协常委，民盟上海市委副主委，复旦大学附属中山医院泌尿外科教授，器官移植国家重点建设临床专科负责人。入选上海市卫生系统“新百人计划”、 “上海市优秀学术带头人”和“上海市领军人才”。'
            }
        ]
        layui.use('laypage', function(){
            var laypage = layui.laypage;
            //执行一个laypage实例
            laypage.render({
                elem: 'test1', //注意，这里的 test1 是 ID，不用加 # 号
                count: 20 //数据总数，从服务端得到
            });
            $('#test1').css('float','right');
        });
        var presidentHtml = '<ul>';
        $.each(presidentList, function(k ,v){
            presidentHtml += '<li>'+'<div class="listLeft">'+
                '<img src='+presidentList[k].presidentImg+' />'+
                '<div class="positonli"></div>'+
                '</div>'+
                '<div class="listRight">'+
                '<div class="presidentName">'+presidentList[k].presidentName+'</div>'+
                '<div class="presidentContent">'+presidentList[k].presidentContent+'</div>'+
                '<div class="presidentbottom">'+
                '<button class="presidentButton">'+presidentList[k].presidentButton+'</button>'+
                '</div>'+
                '</div>'+
                '</li>'
        })
        presidentHtml += "</ul>";
        $(".presidentList").append(presidentHtml);
        $('.presidentList li').mousemove(function() {
            $(this).find('.positonli').show();
            $(this).siblings().find('.positonli').hide();

        }).click(function(){
            var Index = $(this).index();
            var detailsHtml = '<div class="detailsContent">'+
                '<div class="contentName">'+detailsContent[Index].contentName+'</div>'+
                '<div class="detailsTime">'+detailsContent[Index].detailsTime+'</div>'+
                '<div class="Abstract">'+detailsContent[Index].Abstract+'</div>'+
                '<div class="charactersIntro">'+
                '<div class="img"><img src='+detailsContent[Index].presidentImg+' alt=""></div>'+
                '<div class="charsctersContent">'+detailsContent[Index].charsctersContent+'</div>'+
                '</div>'+
                '</div>'
            $('.presidentList').empty();
            $(".presidentList").append(detailsHtml);
            $('.presidentTitle').html('详情介绍');
        })
    });
</script>
</body>
</html>