<header th:fragment="top">
<div class="header">
    <div class="margin">
        <div class="header-logo">
            <img src="/static/yiyuan/Logo.png" alt="">
        </div>
        <ul class="header-nav">
            <li><a href="/article/aboutus" title="home">home</a></li>
            <li><a title="About Us" >About Us</a>
                <ul class="headerTo">
                    <li><a href="/article/hospitalProfile" title="hospital profile">hospital profile</a></li>
                    <li><a href="/president" title="president's profile">president's</a></li>
                </ul>
            </li>
            <li><a href="/article/research" title="research">research</a></li>
            <li><a href="/contact" title="contact us">contact us</a></li>
        </ul>
        <div class="switch">
            <span>中文</span>/
            <span>EN</span>
        </div>
        <div class="headerIcon">
            <span class="layui-icon" style="color:#fff;">&#xe66b;</span>
        </div>
        <div class="headerPosition">
            <div class="header">
                <span style="margin-left: 10px;">MENU</span>
                <span class="layui-icon" style="color:#fff;margin-right: 10px;">&#xe66b;</span>
            </div>
            <ul class="positionUl">
                <li><a href="/article/aboutus" title="home">home</a></li>
                <li><a href="/article/hospitalProfile" title="hospital profile">hospital profile</a></li>
                <li><a href="/president" title="president's profile">president's</a></li>
                <li><a href="/article/research" title="research">research</a></li>
                <li><a href="/contact" title="contact us">contact us</a></li>
            </ul>
        </div>
    </div>
</div>
    <div class="carousel">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!--div class="swiper-slide"><img src="/upload/2020/6/1dCf23v_Twylyw2RPWrQsw20200608070553201.jpg" alt=""></div>
                < <div class="swiper-slide"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1590730432089&di=80476cc71b743548d3035e62c2cf7c94&imgtype=0&src=http%3A%2F%2Fimages3.ctrip.com%2Fwri%2Fimages%2F200509%2FTERRKING12162233734.jpg" alt=""></div>
                <div class="swiper-slide"><img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1913214116,3912663704&fm=26&gp=0.jpg" alt=""></div>
                <div class="swiper-slide"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1590730432090&di=cfb23160fe17de0c72b8ebb59891b4bb&imgtype=0&src=http%3A%2F%2Fac-r.static.booking.cn%2Fimages%2Fhotel%2Fmax1024x768%2F175%2F17552265.jpg" alt=""></div> -->
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</header>